<div>  
	<div class="sb-dd">
	 <sb-sel inarr=tagSet outval="applyFilter(val)" ></sb-sel>
		<!-- <sb-dd ddata=tagSet upd="applyFilter(val)"></sb-dd> -->
	</div>
	<ul class="list group" >
		<li ng-repeat="pg in jstr | orderBy: ['-type','title'] | byTag: currTag track by $index" class="list-group-item">
			<a href="{{url}}{{pg.url}}">{{pg.title}}</a><span> {{pg.type}}</span>
			<span class="tags"> tags:
				<span ng-repeat="tag in pg.tags track by $index" class="tag">{{tag}}</span>
			</span><br>
			<span class="desc">{{pg.desc}}</span>
 		</li> 
	</ul>
</div>
