<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="radio control using 2-way databinding; on incoming ng-value, radio changes, on radio selection incoming ng-value is altered">
    <meta property="og:type" content="website">
    <meta property="og:tags" content='["two way", "databinding", "two way databinding", "radio", "ng-repeat", "ng-model", "ng-value"]'>
	<title>ng-radio</title>
	<link rel="stylesheet" href="">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"> 
  <link rel="stylesheet" href="style.css"> 
  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.12.0/ui-bootstrap-tpls.min.js"></script>
  <script src="http://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>
  <script src="app.js"></script>
</head>
<body ng-app="App">
<sb-md  mdfile="README.md"></sb-md>

<div ng-controller="ctrl">
  <input type="text" ng-model='my.incoming'></input>{{my.incoming}}<br>
  <label ng-repeat="possible in possibles" for="{{possible}}">
   {{possible}}
   <input type="radio" ng-model="my.incoming" ng-value="possible">
 </label>
</div>

<script>
var ex = angular.module("Exercise", []);
ex.controller('ctrl', ['$scope', function($scope){
	$scope.my ={incoming: 'on'};
  $scope.possibles = ['on', 'timer', 'off'];
}])

</script>
<sb-md>
    var ex = angular.module("Exercise", []);
    ex.controller('ctrl', ['$scope', function($scope){
      $scope.my ={incoming: 'on'};
      $scope.possibles = ['on', 'timer', 'off'];
    }])


notes: 
In a one-page demo a directive would have html in `template: ''` which is awful to look at and format. It is easier to use a controller.     
</sb-md>	
</body>
</html>